@use './variables.scss' as *;

body {
  padding: 0;
  margin: 0;
  color: $white;
  font-size: 16px;
  font-family: SF-Pro-Display-Regular, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: SF-Pro-Display-Medium, sans-serif;
  font-size: 56px;
  line-height: 110.7%;
}

@font-face {
  font-family: SF-Pro-Display-Regular, sans-serif;
  src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: SF-Pro-Display-Medium, sans-serif;
  src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: SF-Pro-Display-Semibold, sans-serif;
  src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: SF-Pro-Display-Bold, sans-serif;
  src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-style: bold;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (width <= 576px) {
  .container {
    padding: 0 26px;
  }
}
