$dark-gray: #161B30; // Тёмно-серый 
$dark-blue: #2A2F45; // Тёмно-синий 
$light-gray: #8A91AB; // Светло-серый
$white: #FFF; // белый
$gray: #5A607C; // Cерый
$dark-gray: #161B30; // Тёмно-серый
$deep-dark-blue: #292E44; // Насыщенный темно-синий

$white-text-gradient: rgba(255, 255, 255, 0.00); // Белый градиент для текста