$dark-gray: #161b30; // Тёмно-серый
$dark-blue: #2a2f45; // Тёмно-синий
$light-gray: #8a91ab; // Светло-серый
$white: #fff; // белый
$gray: #5a607c; // Cерый
$deep-dark-blue: #292e44; // Насыщенный темно-синий
$dim-dark-blue: #30354b; // тусклый-темно-синий

$white-text-gradient: rgb(255 255 255 / 0%); // Белый градиент для текста
