@import "../../styles/varibales.scss";

.wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: $dark-gray;
}

.wrap-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.title {
  color: $light-gray;
}

.wrap-desc {
  max-width: 500px;
}

.desc {
  color: $light-gray;
}

.link {
  color: $white;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 36px;
  }
}