@import "../../styles/varibales.scss";
.wrap {
  min-height: calc(100vh - 57px);
  background: linear-gradient(180deg, $gray -80.36%, $dark-gray 80.36%);
}

.back {
  color: $light-gray;
  line-height: 110.7%;
}

.wrap-icon {
  cursor: pointer;
}

.wrap-back {
  display: flex;
  align-items: center;
  gap: 18px;
}

.wrap-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  margin-bottom: 28px;
}

.main-content {
  padding-bottom: 50px;
  text-align: center;
}

.title {
  font-family: 'SF-Pro-Display-Medium';
  font-size: 56px;
  line-height: 110.7%;
  text-align: center;
  user-select: none;
  color: $white;
}

.title-desc-wrap {
  margin: 25px 0 20px;
}

.wrap-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.text-temp {
  font-family: 'SF-Pro-Display-Semibold';
  font-size: 129px;
  line-height: 110.7%;
  background: linear-gradient(180deg, #FFF 11.65%, rgba(255, 255, 255, 0.00) 139.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pressure-wrap {
  margin: 54px 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sunset-text {
  color: #8A91AB;
}

.title-desc:first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .wrap {
    min-height: calc(100vh);
    background: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);
  }

  .title {
    font-size: 24px;
  }

  .back {
    display: none;
  }

  .title-desc {
    font-size: 14px;
  }

  .wrap-temp {
    flex-direction: column;
  }

  .pressure-text {
    font-size: 14px;
  }

  .sunset-text {
    font-size: 14px;
  }

  .wrap-top {
    padding-top: 20px;
    margin-bottom: 48px;
  }

  .title-desc-wrap {
    margin: 13px 0 20px;
  }

  .pressure-wrap {
    margin-top: 0;
  }
}

