@use '../../styles/variables.scss' as *;

.title {
  margin: 30px 0;
  opacity: 0.5;
}

.wrap {
  padding: 55px 0;
  min-height: 100vh;
  background-color: $dark-gray;
}

.link {
  color: $white;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 35px;
  row-gap: 30px;
}

.card {
  cursor: pointer;
  padding: 19px;
  border-radius: 6px;
  background-color: rgb(41 46 68 / 50%);
  opacity: 0.5;
  text-align: center;
}

.card-title {
  margin-bottom: 14px;
  line-height: 110.7%;
  font-size: 14px;
}

.card-temp {
  margin-bottom: 17px;
  text-align: center;
  font-family: SF-Pro-Display-Medium, sans-serif;
  font-size: 40px;
  line-height: 110.7%;
}

@media screen and (width <= 576px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 20px;
    row-gap: 20px;
  }

  .wrap {
    margin-top: 40px;
    max-width: 872px;
  }
}
