@import "../../styles/varibales.scss";

.wrap {
  background: $dark-blue;
}

.header {
  padding: 20px 23px;
}

.text-logo {
  font-family: 'SF-Pro-Display-Bold';
}

.logo-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 17px 20px;
  }

  .header.isExists {
    display: none;
  }
}
