@use '../../styles/variables.scss' as *;

.wrap {
  background: $dark-blue;
}

.header {
  padding: 20px 23px;
}

.text-logo {
  font-family: SF-Pro-Display-Bold, sans-serif;
}

.logo-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

@media screen and (width <= 576px) {
  .header__content {
    padding: 17px 20px;
    background-color: $dark-gray;
  }

  .header.isExists {
    display: none;
  }
}
