@import "../../styles/varibales.scss";

.wrap {
  min-height: calc(100vh - 63px);
  padding: 86px 0 90px;
  background-color: $dark-gray;
}

.wrap-input {
  position: relative;
  margin: auto;
  max-width: 510px;
}

.list {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow-y: auto;
  max-height: 300px;
  background-color: $dim-dark-blue;
}

.highlight-wrap:hover {
  background-color: $dark-blue;
}

.city-helper {
  overflow-x: hidden;
  padding: 20px;
  text-overflow: ellipsis;
}

.input {
  width: 100%;
  padding: 18px 20px;
  border: none;
  outline: none;
  background-color: $dark-blue;
  font-family: 'SF-Pro-Display-Regular';
  line-height: normal;
  color: $white;
  font-size: 16px;

  &::placeholder {
    color: $light-gray;
  }
}

.helper-wrap {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.helper-wrap-inner {
  position: relative;
  max-width: 170px;
}

.icon {
  position: absolute;
  left: -44px;
  top: -10px;
}

.helper-text {
  width: 100%;
  color: $light-gray;
  line-height: normal;
}

.city {
  cursor: pointer;
  color: $white;
  text-decoration: underline dotted;
}

.bookmarks {
  width: 100%;
  color: $light-gray;
}

.wrap-bookmarks {
  margin: 88px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 244px;
}

.highlight-wrap {
  overflow-x: hidden;
  cursor: pointer;
  padding: 20px;
  text-overflow: ellipsis;
}

.highlight {
  color: $light-gray;
}

@media screen and (max-width: 576px) {
  .wrap {
    padding-top: 30px;
  }
}
